.overlay {
  .invoiceDetails {
    width: 45em;
    max-height: 27em;
    min-height: 10em;
    background-color: #ebe7de;
    position: relative;
    padding: 0;
    overflow: none;
    display: flex;
    flex-direction: column;

    .header {
      background-color: #38649c;
      position: absolute;
      height: 30px;
      top: 0;
      width: 100% !important;
      padding-bottom: 5px;
    }

    .closeButton {
      position: absolute;
      top: 0;
      right: 0;
      margin: 7px;
      font-size: 1.2em;
      cursor: pointer;
      color: #f9f6ee;
      z-index: 10;
    }

    .tableContainer {
      overflow: auto;
      width: 100%;
      height: 90%;
      padding: 5px;
      padding-top: 60px;

      table {
        width: 100%;

        th {
          border-radius: 0;
        }
      }
    }
  }
}
