.navbar {
  background-color: white;
  width: 100vw !important ;
  //position: absolute;
  display: flex;
  justify-content: space-between;

  img {
    width: 200px;
    height: 50px;
  }
}

@media screen and (max-width: 400px) {
  .navbar {
    img {
      width: 180px;
      height: 45px;
    }
  }
}

@media screen and (max-width: 650px) {
  .navbar {
    h2 {
      display: none;
    }
  }
}
