.overlay {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100vw !important;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;

  .newInvoiceModal {
    width: 50em;
    height: 300px;
    background-color: #ebe7de;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 !important;

    .modalHeader {
      background-color: #38649c;
      width: 100%;
      margin: 0;
      position: relative;
      color: #f9f6ee;
    }

    .closeButton {
      position: absolute;
      top: 0;
      right: 0;
      margin: 10px;
      font-size: 1.2em;
      cursor: pointer;
      color: #f9f6ee;

      &:hover {
        color: #c91d12;
      }
    }

    .form {
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      // background-color: red;

      .submitButton {
        height: 2em;
        margin-top: auto;
        margin-bottom: 1%;
        margin-right: 1%;
      }

      .section1 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100% !important;

        //background-color: red;
        div {
          display: flex;
          flex-direction: column;
          width: 14em;
          padding: 0;

          select {
            border: none;
          }

          .input {
            width: 100%;
            height: 2em;
            border-radius: 7px;
            color: black;
            border: solid 1px black;
            padding-left: 10px;
          }

          label {
            color: black;
            margin-right: auto;
          }
        }
      }

      .section2 {
        display: flex;
        justify-content: center !important;
        height: 100% !important;
        flex-direction: column;
        align-items: center;
        // background-color: blue;

        .prueba {
          width: 100%;
          max-height: 150px;
          // background-color: green;
          flex-grow: 5;
          display: flex;
          flex-direction: column;
          overflow: auto !important;
          border: 1px solid gray;
          border-radius: 10px;
          padding: 0;

          h4 {
            background-color: blue;
            margin: 0;
            position: absolute;
          }

          div {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
          }

          span {
            margin: 0;
            b {
              margin: 5px;
            }

            .operationIcon {
              font-size: 12px;

              cursor: pointer;
            }
          }
        }

        .inputsCont {
          flex-grow: 1 !important;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          padding: 0;
          button {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 2px;
          }

          div {
            display: flex;
            flex-direction: column;
            width: 14em;
            padding: 0;
            //background-color: blue;

            div {
              display: flex;
              flex-direction: row;
            }

            select {
              width: 100%;
              height: 2em;
              border-radius: 7px;
              color: black;
              border: solid 1px black;
              padding-left: 10px;
            }

            label {
              margin-right: auto;
            }

            button {
              width: 3em;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width:600px) {
  .overlay {
    .newInvoiceModal {
      height: 500px;
      .form {
        flex-direction: column;

        .section1,
        .section2 {
          justify-content: space-evenly;
          width: 100% !important;

          div {
            width: 100%;
          }
        }
      }
    }
  }
}
