@import "./vars.scss";

.sidebar {
  flex: 1;
  height: 100vh;
  background-color: $dark1;
  position: sticky !important;
  min-width: 3px;
  max-width: 350px;
  //  border-top: solid 1px black;
  padding: 0 !important;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  border: none;

  &::-webkit-scrollbar {
    width: 0px;
  }

  .collapsileSidebar {
    width: 0px;
    height: 100vh;
    background-color: $dark2;
    position: fixed;
    // top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    transition: width 0.5s ease;
    white-space: nowrap;
    //padding-left: 10px;

    .profileContainer {
      width: 100%;
      height: 180px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 5px;
      border-bottom: 2px solid darken($color: $dark2, $amount: 3);

      .userProfileImage {
        border-radius: 100%;
        width: 108px;
        height: 108px;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        background-color: #e1ce7a;

        .iconProfile {
          font-size: 54px;
          color: white;
        }

        .overlayProfileImage {
          position: absolute;

          width: 108px;
          height: 108px;

          border-radius: 50%;
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);

          opacity: 0;
          transition: 0.3s ease;
          background-color: black;
          z-index: 1;
        }

        &:hover {
          .overlayProfileImage {
            opacity: 0.2;
            cursor: pointer;
          }
        }
      }
    }
  }

  .searchInput {
    width: 100%;
    margin-right: 5px;
    height: 28.8px;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: $light1;
    color: $white;
    &:focus {
      outline: solid 1px $main;
    }
  }
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}

.profileImage {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}

.iconMenu {
  font-size: 20px;
  margin-right: 10px;
  margin-left: 5px;
  color: gray;
}

.iconDashboard {
  font-size: 22px;
  margin-right: 5px;
  color: gray !important;
  //   border: solid 1px black;
  //   background-color: #28B463;
}
