.table {
    width: 90%;
    /* border: 1px solid #ccc; */
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    color:black;

}

.table caption {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0px;
    color:white;
}

.table tr th{
    background-color: #009879;
    /* border: 1px solid #ddd; */
}

.table tr td{
    background-color: #f3f3f3;
}

.table th, .table td {
    font-size: 16px;
    padding: 8px;
    text-align: center;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table thead th{ 
    /* //text-transform: uppercase; */

    border-bottom: 1px solid white;
    color: white;
    /* background-color: #ddd; */
}

/* .table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.table tbody td:hover {
    background-color: rgba(0, 0, 0, 0.3);
} */

@media screen and (max-width: 600px) {
    .table {
        border: 0px;
    }
    .table caption {
        font-size: 22px;
    }
    .table thead {
        display: none;
    }
    .table tr {
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
        display: block;
    }
    .table th, .table td {
        font-size: 12px;
    }
    .table td {
        display: block;
        border-bottom: 1px solid #ddd;
        text-align: right;
    }
    .table  td:last-child {
        border-bottom: 0px;
    }
    .table td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
}